   {% extends 'JAGUARAPP/Layout.html' %}
   
   {% load static %}

    {% block content %}
    <div class="container">
    <div class="row">
    <div class="col">  
    <div class="card" style="width: 100%; margin: 5px">
        <div style="float: center">
            <table class="table table_bordered">

                <thead>
                    <tr>

                        <th colspan="5" class="text-center">Carrito</th>
                    </tr>
                </thead>
                <tbody>
                    {% if request.session.carro.items %}
                        {% for key, value in request.session.carro.items %}
                            <tr class="text-center">
                            
                                <td>{{value.titulo}}</td>
                                <td>{{value.descripcion}}</td>
                                <td></b>{{value.precio}}</b></td>
                                <td>{{value.cantidad}}</td>
                                <td>
                                    <a href="{% url 'agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                                    <a href="{% url 'restar' value.producto_id %}" class="btn btn-sm btn-success">-</a>

                                </td>
                            
                            </tr>


                        {% endfor %}

                    {% else %}
                        <tr>
                        
                            <td colspan="5" class="text-center">
                                <div class="alert alert-danger text-center">
                                    Sin productos
                                </div>
                            </td>

                        </tr>
                    
                    {% endif %}

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div style="text-align: right;">
                                <a href="{% url 'Home' %}" class="btn btn-sm btn-success">Home</a>
                                <a href="#" class="btn btn-sm btn-success">finalizar compra</a>
                                <a href="#" class="btn btn-sm btn-success">Vaciar Carrito</a>
                            </div>
                        </td>
                    </tr>

                </tfoot>

            </table>
        </div>
</div>
</div>
</div>  
</div>  

    {% endblock %}
 
